.Homepage{
    /* padding: 10px; */
    max-width: 100%;
    text-align: center;
    /* background-color: aliceblue; */
}

.Homepage img{
    max-width: 80vw;
}

#home-usertips{
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.8);
}

#home-getstarted{
    padding: 20px 0;
    background-color:  rgba(255, 255, 255, 0.8);
}

#home-logo{
    padding: 25px 0;
    background-color:  rgba(255, 255, 255, 0.8);
}

.app-background {
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

